---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/lcl-founding-student
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_DHUDz8wyzjryyRLFCFyFZ7Yw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "lcl-founding-student",
          "object": "plan",
          "amount": 9900,
          "created": 1454198932,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Lansing Code Lab (Founding Student)",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 23 Mar 2016 16:02:39 GMT
recorded_with: VCR 2.9.3
