.jumbotron.text-center
  h1 Lansing Code Lab
  h2 style="font-family: Consolas, Lucida Console, monospace"
    input.transparent autofocus="true" value="learn to code" onfocus="this.value = this.value"
  p.h2 for $99 / month

.row
  .col-sm-6.col-sm-offset-3
    h3.text-center Apply now
    form#application action="//formspree.io/hello@lansingcodelab.com" method="POST"
      .form-group
        label for="application-name" Name
        input.form-control#application-name type="text" name="name"
      .form-group
        label for="application-email" Email
        input.form-control#application-email type="email" name="_replyto"
      .form-group
        button.form-control.btn.btn-primary type="submit" Begin the journey

- if Rails.env.production?
  javascript:
    document.forms['application'].onsubmit = function(){ ga('send', 'event', 'application', 'submit'); };
