<!DOCTYPE html>
 
<html>
  <head>
    <title>Learn to Code in Lansing | Lansing Code Lab</title>
    <meta class="metaTagTop" name="description" content="Learn to Code at the Lansing Code Lab. Learn How it Works, Pricing, &amp; More!">
    <meta class="metaTagTop" name="keywords" content="Learn to Code, Lansing Code Lab, Learn to Code in Lansing"><meta class="metaTagTop" name="author" content="Jesse Flores">
    <meta class="metaTagTop" property="og:image" content="https://images.clickfunnels.com/56/339750bdda11e58596a3d490dd4464/icon-tall-square-fixed-300-transparent.png" id="social-image">
  <script>

      function getParameterByName(name) {
          name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
          var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
              results = regex.exec(location.search);
          return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
      }
      $preview = getParameterByName("preview");


      if( $preview == "" ){
        // do nothing
      } else if( $preview == "control" ){
        document.cookie = "lander-ab-tests-8290289=lander_control";
      } else{
        document.cookie = "lander-ab-tests-8290289=lander_" + $preview;
      }

    </script>
    <link rel="stylesheet" media="screen" href="https://assets3.clickfunnels.com/assets/lander.css"/>
    <script type="text/javascript" src="https://static.clickfunnels.com/clickfunnels/landers/tmp/7d5yb7lfg6g044wl.js" charset="UTF-8"></script>
    <style>#IntercomDefaultWidget{display:none;}#Intercom{display:none;}</style>
    <meta name="nodo-proxy" content="html"/>
  </head>
  <body>
  </body>
</html> 
