@import 'lib/variables';
@import 'lib/variables-landing';

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'vendor/octicons';
@import 'nprogress';
@import 'nprogress-bootstrap';

@import 'lib/components/navbar-brand';
@import 'lib/components/jumbotron';
@import 'lib/controls/fake-terminal';

body {
  background-image: linear-gradient(
      fade_out($body-bg, 0.3), 
      fade_out($body-bg, 0.3)
    ), url(/images/code-lab-grayscale.jpg);
  background-size: cover, cover;
  background-repeat: repeat, no-repeat;
}
